<%= simple_form_for(@cocktaill) do |f| %>
<% if @cocktaill.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @cocktaill.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>

  </ul>
</div>
<% end %>


  <%= f.input :name %>
  <%= f.input :photos, as: :attachinary %>

  <%= f.button :submit %>

<% end %>
